.todo{
    background-color: #E0FBFC;
    margin: 0px;

}
#caard2{
    width: 380px;
    background-color: #18223A;
     color: white;
     border-radius: 10%;
     text-align: center;
     margin-left: -100px;
}
#caard22{
    width: 430px;
    height: 310px;
    background-color: #18223A;
     color: white;
     border-radius: 10%;
     text-align: center;
     margin-left: -40px;
}

#login{
font-size: larger;
text-align: center;
}

#login2{
font-size: 15px;
text-align: center;
}

.a{
    color: rgb(228, 228, 228);
}

#boton{
    width: 200px;
    border-radius: 20px;
    border: 0px solid;
    background-color: rgb(95, 94, 94);
}
#boton2{
    width: 150px;
    border-radius: 20px;
    border: 0px solid;
    background-color: rgb(95, 94, 94);
}
#boton3{
    margin-left: 85px;
    width: 150px;
    border-radius: 20px;
    border: 0px solid;
    background-color: #FCA311;
}

#p1{
    text-align: left;
    color: rgb(206, 203, 203);
}

.center{
    margin-top: -6px;
}

.flex{
    display: flex;
}

.iz{
    width: 33.33333%;
    height: 5px;
}
.mid{
    margin-top: 20px;
    width: 33.33333%;
    height: 45px;
}
.der{
    width: 33.33333%;
    height: 45px;
}

footer{
    width: auto;
    bottom: 0;

    height: 100px;
    background-color: black;
}
#mg{
    margin:130px;
}
